* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form .submitbtn {
    padding: 10px;
    border: none;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    margin-top: 200px;
}

form .colorinput {
    margin-bottom: 4px;
}

